%mont-400 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
%mont-500 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
%mont-600 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

$title: #1d1b1b;
$text: #4a4a49;
